@namespace SibCCSPETest.Shared.Components

<button type="button" class="btn @CssClass" style="@CssStyle" @onclick="OnClick" disabled="@Disable">
    <i class="@IconClass"></i>
    <span>@Title</span>
</button>
